.body{
  margin: 0;
}

.items{
  font-weight:600;
  color:#5C5C5C;
  padding-top: 1rem;

}

.items:hover{
color: black;
}

.font{
font-size: 0.7rem;
}

.button1{

height: 2rem;
}

.button2{
  margin-left: 1rem;
  height: 2rem;
}

.button3{
color: #E56135;
}

.button4{
color: #02B875;
}



.views{
position: absolute;
left: 4.8rem;
bottom: 0.5rem;
    } 

.button-hidden2{
margin-left: 20rem;
}


    
@media screen and (max-width : 308px){
.main-image{
    width: 19rem;
    
}

} 
